{% if not hx_request %}{% extends "base.html" %}{% endif %}

{% block content %}
<form>
    <table id="profile-table" name="profile">
            <tr>
                <th id="start_date">start_date</th>
                <td headers="start_date">{{profile.start_date}}</td>
            </tr>
            <tr>
                <th id="email">email</th>
                <td headers="email">{{profile.user.email}}</td>
            </tr>
            <tr>
                <th id="start_weight">start_weight</th>
                <td headers="start_weight">{{profile.start_weight}}</td>
            </tr>
            <tr>
                <th id="goal_weight">goal_weight</th>
                <td headers="goal_weight">{{profile.goal_weight}}</td>
            </tr>
            <tr>
                <th id="sex">sex</th>
                <td headers="sex">{{profile.sex}}</td>
            </tr>
            <tr>
                <th id="birthdate">birthdate</th>
                <td headers="birthdate">{{profile.birthdate}}</td>
            </tr>
            <tr>
                <th id="height">height</th>
                <td headers="height">{{profile.height}}</td>
            </tr>
            <tr>
                <th id="lbs_per_week">lbs_per_week</th>
                <td headers="lbs_per_week">{{profile.lbs_per_week}}</td>
            </tr>
            <tr>
                <th id="activity_level">activity_level</th>
                <td headers="activity_level">{{profile.activity_level}}</td>
            </tr>
    </table>
</form>
{% endblock %}


