{% if not hx_request %}{% extends "base.html" %}{% endif %}

{% block content %}

<form id="forgot-password" hx-post="/api/v1/auth/forgot-password" hx-target='this' _="on htmx:beforeSwap remove me then show #email-sent" hx-ext='json-enc'>
    <label for="Email">Email:</label>
    <input type="Email" id="Email" name="email" {% if user %} value="{{user.email}}" {% endif %}>

    <input type="submit" >
    
</form>
<div style="display: none;" id="email-sent">
    IF EMAIL EXISTS A PASSWORD RESET LINK HAS BEEN SENT
</div>
{% endblock %}