
{% if not hx_request %}{% extends "base.html" %}{% endif %}

{% block content %}
<div class="flex mt-32 w-screen justify-center items-center border-gray-800 ">
    <form id="forgot-password" hx-post="/api/v1/auth/forgot-password" hx-target='this' hx-swap="none" _="on htmx:beforeSwap add .hidden to #input-div then remove .hidden from #email-sent" hx-ext='json-enc'
    class="w-full grow max-w-3xl md:w-1/2 flex flex-col items-center">
    <div id="input-div" class="w-full flex flex-col items-center">
      <h1 class="text-center text-2xl font-bold text-gray-600 mb-6">Forgot Password?</h1>

        <div class="w-3/4 mb-6">
          <input
            type="text"
            id="username"
            name="email"
            placeholder="Email"
            class="w-full py-4 px-8 bg-gray-200 rounded placeholder:font-semibold border border-none border-red-400"
            _="on invalid remove .hidden from #email-error then remove .border-none from me"
            required
          />
          <div id="email-error" class="hidden text-red-400 font-medium text-sm ">Email Required</div>
        </div>
        <div class="w-3/4 mb-6">
          <input
            type="submit"
            value="Reset Password"
            class="bg-gray-400 text-gray-50 w-full font-bold py-4 rounded hover:bg-gray-600"
          />
        </div>
      </div>
      <div id="email-sent" class="hidden bg-gray-100 border-gray-400 border py-2 px-2 my-4 text-gray-600 font-light text-sm text-center rounded">
          A password reset link has been sent to provided e-mail
      </div>
    </form>

</div>
{% endblock %}
