{% if not hx_request %}{% extends "base.html" %}{% endif %}

{% block content %}
<form hx-post="/api/v1/auth/reset-password" hx-target='#reset-swap' hx-ext='json-enc'>
    <input hidden name="token" value="{{token}}">

    <div hx-target="this" hx-swap="outerHTML">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" hx-include='#email' hx-get="/validate/password">
    </div>
    <div hx-target="this" hx-swap="outerHTML">
        <label for="password">Confirm Password:</label>
        <input type="password" id="password_confirm" name="password_confirm" hx-include="#password" hx-get="/validate/password_confirm">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

<div id="reset-swap" hx-get="/" hx-trigger="htmx:beforeSwap" hx-target="#content"></div>
{% endblock %}