{% if not hx_request %}{% extends "base.html" %}{% endif %}

{% block content %}
    <h1>{{food.type}}{% if food.subtype %}, {{food.subtype}} {% endif %}</h1>
    {% if user %}
    <div role="button" hx-get="/food/servings/create/{{ food.id }}" hx-target="#content">Add New Serving</div>
    {% endif %}
    <table role="grid">
            <thead>
                {% include "food/servings/headings.html" %}
            </thead>
            <tbody>
                {% for serving in servings %}
                {% include "food/servings/row.html"%}
                {% endfor %}
            </tbody>
        </table>
{% endblock %}