<tr name="food_id" {% if food.user_id %} style="background-color: #f4511e25;"{% endif %}>
    <td headers="category">{{food.category.description}}</td>
    <td headers="type" hx-target="#content">{{food.type}}</td>
    
    {% set food_type = food.type | replace(' ','___') %}
    <td 
        hx-get="/food/{{food_type}}/subtypes?food_category={{food.category.id}}" hx-target="#{{food_type}}_{{food.category.id}}_subtypes" 
        _="on click hide me then show next <td/> then show #{{food_type}}_{{food.category.id}}_subtypes"
    >A</td>
    
    <td style="display: none;" _="on click hide me then show previous <td/> then hide #{{food_type}}_{{food.category.id}}_subtypes">∀</td>

</tr>
<tr style="display: none;" id="{{food_type}}_{{food.category.id}}_subtypes"></tr>