{% set food_type = food.type | replace(' ','___') %}

<tr id="{{food_type}}" name="food_id" {% if food.user_id %} style="background-color: #f4511e25;"{% endif %}>
    <td headers="type" hx-target="#content">{{food.type}}</td>
    
    <td 
        hx-get="/food/{{food_type}}/subtypes" hx-target="#{{food_type}}" hx-swap="afterend"
        _="on click hide me then show next <td/>"
    >Λ</td>
    
    <td style="display: none;" _="on click hide me then show previous <td/> then remove next <tr/>">V</td>

</tr>