{% if subtypes %}
<tr >
    <td colspan="2">
    <table>
        {% for food in subtypes %}
            <tr name="food_id" {% if food.user_id %}style="background-color: #f4511e25;"{% endif %}>
                <td headers="subtype" hx-push-url="true" hx-get="/food/{{food.id}}" hx-target="#content">{{food.subtype}}</td>
                {% if user is not none %}
                    <td headers="add_log" hx-get="/food_log/create?food_id={{food.id}}" hx-target="#content">ADD</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </td>
</tr>
{% endif %}