{% if not hx_request %}{% extends "base.html" %}{% endif %}

{% block content %}
<div class="flex mt-32 w-screen justify-center items-center">
    <form id="register-form" class="w-full grow max-w-3xl md:w-1/2 flex flex-col items-center"
          hx-post="/api/v1/auth/register" hx-target="#register-div" hx-ext='json-enc'
          _="on submit halt the event"
    >
        
        <h1 class="text-center text-2xl font-bold text-gray-600 mb-6">Register</h1>
        
        {% include "auth/registration/email.html"%}
        
        {% include "auth/registration/password.html"%}

        {% include "auth/registration/password-confirm.html"%}
        
        {% include "auth/registration/submit.html"%}
    
    </form>
    <div
        hidden
        id="register-div"
        hx-push-url="true"
        hx-get="/login"
        hx-target="#content"
        hx-trigger="htmx:beforeSwap"
    ></div>
</div>
{% endblock %}