{% if not hx_request %}{% extends "index.html" %}{% endif %}

{% block content %}
<table name="food">
    <thead>
        <tr>
            <th id="id">ID</th>
            <th id="brand">Brand</th>
            <th id="name">Name</th>
            {% if user is not none %}
            <th id="add_log">Add Log</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for food in foods %}
        <tr name="food_id" hx-push-url="true" hx-trigger="{{trigger}}" hx-get="/food/{{food.id}}" hx-target="#content">
                <td headers="id">{{food.id}}</td>
                <td headers="brand">{{food.type}}</td>
                <td headers="name">{{food.subtype}}</td>
                {% if user is not none %}
                <td headers="add_log" hx-get='/food_log/create' hx-push-url="false" hx-trigger='click consume' hx-target="closest tr" hx-swap="afterend" role="button">Add Log</td>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if include_servings %}
<!-- <div hx-trigger="click" hx-get="/create/serving_size" hx-target="#create_serving_size">Create Serving</div>
<div id="create_serving_size"></div> -->
<h6>Servings</h6>
<div name="servings" id="servings" hx-trigger="load" hx-get="/food/{{foods[0].id}}/servings" hx-target="#servings"></div>
    
{% endif %}
{% endblock %}