<div class="w-3/4 mb-6" hx-target="this" hx-swap="outerHTML">
    <input type="password" id="password" name="password" placeholder="Password" value="{{password}}"
           class="w-full py-4 px-8 bg-gray-200 rounded placeholder:font-semibold
                  {% if (not is_valid) and hx_request %}border border-red-400 {% endif %}
                 "
           hx-get="/validate/password" hx-include="#email"
           required
    >

    {% if not is_valid and hx_request %}
        <div class="text-red-400 font-medium text-sm">
            Not a valid password
        </div>
    {% endif %}
</div>