<div _="on load set $serving_amount to {{serving_amount}} then set $calories to {{calories}} then set #total-calories.innerHTML to ($serving_amount * $calories) as Int">
    <h1> Add Log: {{food.type}} - {{food.subtype}}</h1> 
    Total Calories: <div id="total-calories"></div>

    <form hx-post="/food_log" hx-push-url="true" hx-target="#content" hx-ext='json-enc' name="food_log">
        <label for="date">
            Date: <input type="date" id="date" name="date" _="on load make a Date then set my.value to it.toLocaleDateString('sv')">
        </label>
        <label for="food_id">
            <input hidden type="number"  id="food_id" name="food_id" value="{{food.id}}">
        </label>
        <label for="serving">
            Serving: 
            <select type="date" id="serving" name="serving">
                {% include "log/inputs/serving_option.html"%}    
            </select>
        </label>
        <label for="serving_id">
            <input hidden type="number" id="serving_id" name="serving_size_id" value="{{serving_id}}">
            Calories: <div type="number" class="total-calc" id="serving_cals">{{calories}}</div>
        </label>
        <label for="serving_amount">
            Serving Amount: <input type="number" class="total-calc" min="0" step="any" id="serving_amount" name="serving_amount" value="{{serving_amount}}" _="on change set $serving_amount to my.value then set #total-calories.innerHTML to ($serving_amount * $calories) as Int">
        </label>

        <button>Add Log</button>
        
    </form>
</div>