<div>
    <form>
        <label for="date">
            Date: <input type="date"  id="date" name="date">
        </label>
        <label for="food">
            Food: <input type="select"  id="food" name="food">
        </label>
        <label for="serving">
            Serving: <select type="date"  id="serving" name="serving">
        </label>
        
        <label for="serving_amount">
            Serving Amount: <input type="number" min="0" id="serving_amount" name="serving_amount"/>
        </label>

        <input type="submit" value="Add Log">
    </form>
</div>