<option {% if serving_id == none %} selected {% else %} {% endif %} value='none'>Select Serving Size</option>
{% for serving in servings %}
    <option {% if serving_id == serving.id %} selected {% else %} {% endif %} value="{{serving.id}}" class="total-calc" 
        _="on click set #serving_cals.innerHTML to {{serving.calories}} then 
        set #serving_id.value to {{serving.id}} then 
        set $calories to {{serving.calories}} then
        set #total-calories.innerHTML to $serving_amount * $calories
        ">
        {{serving.description}}
    </option>
{% endfor %}