<tr name="food_log_id" id="food_log_{{log.id}}">
  <td headers="log_date"><input type="date" id='date' name="date" value="{{log.date}}" /></td>
  <td headers="log_food">
    <label for="foods-search">
      <input type="text" list="food-list" id="foods-search" name="search_word"
        hx-trigger="keyup changed delay:250ms"
        hx-get="/food/search_options"
        hx-target="#food-list"
        value="{{log.serving_size.food.brand}}, {{log.serving_size.food.name}}"
      />
    </label>
    <div hx-trigger="load" hx-get="/food/all_options" hx-target="#food-list"></div>

    <input hidden type="number" id="food_id" name="food_id" value="{{log.food_id}}"/>

    <select id="food-list" hx-trigger="input delay:10ms" hx-target="#serving-list" hx-get="/food/servings" hx-include="#food_id"></select>
  </td>
  <td headers="log_serving_size_description">
    <div hx-trigger="load" hx-get="/food/servings?food_id={{log.food_id}}" hx-target="#serving-list"></div>

    <select id="serving-list" value="{{log.serving_size.description}}"></select>
    <input hidden type="number" id="serving_id" name="serving_size_id" value={{log.serving_size_id}} ></div>
    <input hidden type="number" id="serving_cals" value="{{log.serving_size.calories}}"/>
  </td>
  <td headers="log_serving_amount">
    <input name="serving_amount" id="serving_amount" type="number" min="0" value="{{log.serving_amount}}"/>
  </td>
  <td headers="log_calories" _="on mouseover or change from #serving_amount set my.innerHTML to #serving_cals.value * #serving_amount.value">
    {{log.serving_size.calories * log.serving_amount}}
  </td>

  
  <td headers="log_edit" hx-disinherit="*" hx-put="/food_log/{{log.id}}" hx-target="#food_log_{{log.id}}" hx-swap='outerHTML' name="food_log_in"
  hx-include="closest tr" hx-ext='json-enc'
  >
    <div role="button" hx-trigger="click">
        Save
    </div>
  </td>
</tr>
