<tr name="food_log_id" id="food_log_{{log.id}}">
  
  <td headers="log_date"><input type="date" id='date' name="date" value="{{log.date}}" /></td>
  
  <td headers="log_food">
    {% include "food_log/edit/food_select.html"%}
  </td>
  
  <td headers="log_serving_size_description">
    {% include "food_log/edit/serving_select.html"%}
    
  </td>
  <td headers="log_serving_amount">
    <input name="serving_amount" id="serving_amount" type="number" min="0" value="{{log.serving_amount}}"/>
  </td>

  <td headers="log_calories" _="on mouseover or change from #serving_amount set my.innerHTML to #serving_cals.value * #serving_amount.value">
    {{log.serving_size.calories * log.serving_amount}}
  </td>

  {% if editable %}
    {% include "food_log/edit/edit_save.html"%}
  {% else %}
    {% include "food_log/add_log.html"%}
  {% endif %}
</tr>
