{% if not hx_request %}{% extends "base.html" %}{% endif %}

{% block content %}
<div name="inputs">
    <input type="number" min="1" id="profile_id" name="profile_id">
    <input type="date" id="date" name="date">
</div>
Starting_stats
<div id="start_stats" hx-trigger="change from:#profile_id" hx-get="/profile" hx-include="[name='profile_id']"></div>
CurrentDay
<div id="current_stats"hx-trigger="change from:#profile_id, change from:#date" value="2023-02-07" hx-get="/daily" hx-include="[name='inputs']"></div>

{% endblock %}