{% macro food_log_row(logs) %}

{% for log in logs %}
<tr name="food_log_id" id="food_log_{{log.id}}" hx-push-url="true" hx-get="/food_log/{{log.id}}" hx-target="#food_log_table">
    <td headers="log_date">{{log.date}}</td>
    <td headers="log_food">{{log.serving_size.food.type}}, {{log.serving_size.food.subtype}}</td>
    <td headers="log_serving_size_description">{{log.serving_size.description}}</td>
    <td headers="log_serving_amount">{{log.serving_amount|round(2, "common")}}</td>
    <td headers="log_calories">{{(log.serving_amount * log.serving_size.calories)|round|int}}</td>
    <td headers="log_edit" hx-disinherit="*" hx-get='/food_log/edit/{{log.id}}' hx-push-url="false" hx-trigger='click consume' hx-target="#food_log_{{log.id}}" role="button" hx-swap="outerHTML">Edit</td>
    <td headers="log_edit" hx-disinherit="*" hx-get='/food_log/edit/{{log.id}}?copy=True' hx-push-url="false" hx-trigger='click consume' hx-target="closest tr" role="button" hx-swap="afterend">Copy</td>
</tr>
{% endfor %}

{% endmacro %}

{% macro daily_value_styling(value) %}
    {% set text_shadow = "text-shadow: 0.03em 0 black, 0 0.03em black, -0.03em 0 black, 0 -0.03em black;"  %}
    {% if value < -1000 %} 
        style="background-color: #960202; {{text_shadow}}"
    {% elif value < -200 %} 
        style="background-color: #8c8c08; {{text_shadow}}"
    {% elif value < 200 %} 
        style="background-color: #02700a; {{text_shadow}}" 
    {% else %}
        style="{{text_shadow}}"
    {%endif%}
{% endmacro%}


{% macro nav_bar(tab, logged_in) %}
{% endmacro%}