<div class="font-semibold bg-gray-300 py-2 rounded-bl">Date</div>
<div class="font-semibold bg-gray-300 py-2 ">Food</div>
<!-- <div class="font-semibold bg-gray-300 py-2 ">Serving</div> -->
<!-- <div class="font-semibold bg-gray-300 py-2 ">Amount</div> -->
<div class="font-semibold bg-gray-300 py-2 ">Calories</div>
{% if not home %}
<div class="font-semibold bg-gray-300 py-2 rounded-br">
    <!-- <div class="font-semibold bg-gray-300 py-2 ">Edit</div>
    <div class="font-semibold bg-gray-300 py-2 ">Copy</div> -->
</div>
{% endif %}
