
  {% set radius = 40 %}
  {% set circumference = 2*radius*3.14159 %}
<svg class="progress-ring w-9/12 h-9/12 m-auto" viewbox="0 0 100 100">
  <circle
    class="stroke-zinc-200"
    style="
      stroke-dasharray: {{(offsets['max_eaten'] * circumference)}} 999;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;"
    stroke-width="4"
    fill="transparent"
    r="{{radius}}"
    cx="50%"
    cy="50%"
  />
  <circle
    class="stroke-zinc-300"
    style="
      stroke-dasharray: {{(offsets['max_goal'] * circumference)}} 999;
      transform: rotate({{offsets['goal_rotation'] - 90}}deg);
      transform-origin: 50% 50%;"
    stroke-width="4"
    fill="transparent"
    r="{{radius}}"
    cx="50%"
    cy="50%"
  />
  <circle
    class="stroke-zinc-500"
    style="
      stroke-dasharray: {{(offsets['eaten_percentage'] * circumference)}} 999;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;"
    stroke-width="4"
    fill="transparent"
    r="{{radius}}"
    cx="50%"
    cy="50%"
  />
  <circle
    class="stroke-zinc-700"
    style="
      stroke-dasharray:  {{(offsets['over_goal_percentage'] * circumference)}} 999;
      transform: rotate({{offsets['goal_rotation'] - 90}}deg);
      transform-origin: 50% 50%;"
    stroke-width="4"
    fill="transparent"
    r="{{radius}}"
    cx="50%"
    cy="50%"
  />
  <circle
    class="stroke-black"
    style="
      stroke-dasharray:  {{(offsets['over_rmr_percentage'] * (circumference))}} 999;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;"
    stroke-width="4"
    fill="transparent"
    r="{{radius}}"
    cx="50%"
    cy="50%"
  />
  <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="font-semibold">
    {{(offsets['calorie_info']['calories_eaten'] | int / offsets['calorie_info']['calorie_goal'] | int) | round(4) * 100}}%
  </text>
  <!-- <line x1="40%" x2="60%" y1="44%" y2="44%" stroke="black" stroke-width="2"/>
  <text x="50%" y="52%" dominant-baseline="middle" text-anchor="middle" class="font-semibold">{{offsets['calorie_info']['calorie_goal'] | int}}</text>
  <text x="50%" y="67%" dominant-baseline="middle" text-anchor="middle" class="font-semibold">Calories</text> -->
</svg>

