{% if not hx_request %}{% extends "base.html" %}{% endif %}
{% block content %}
{% if user %}
    {% if not user.is_verified%}
    <article id="verify-card">
        <div id="verify-message" _="on htmx:afterRequest from #verify-link set my.innerHTML to 'THANK YOU' "></div>
        <div id="verify-link"  hx-include="#verify-email" hx-ext='json-enc' _="on htmx:beforeRequest remove me">
            <input hidden id="verify-email" name="email" value="{{user.email}}">
            Please verify your account by clicking this <a hx-post="/api/v1/auth/request-verify-token" _="on click hide me.parent">link</a>
        </div>
    </article>
    {% endif %}
    {% include "index/logged_in.html" %}
{% else %}
    {% include "index/unlogged_in.html" %}
{% endif %}
{% endblock %}