<h1>Welcome to Food Tracker</h1>


<h2>Log Your FOODS</h2>
<p>
    Proin dapibus nulla nec neque vestibulum congue. Nam quis metus ut nisl posuere gravida. Aliquam mattis accumsan augue, vel sagittis diam varius rutrum. Donec cursus odio nisl, a bibendum elit cursus at. Aenean a consectetur lacus. Maecenas ultrices urna tellus, gravida faucibus eros dignissim non. In hac habitasse platea dictumst. Quisque sem nibh, posuere at nisi pretium, sodales bibendum arcu. Praesent auctor quam libero, eget venenatis metus vestibulum nec. Quisque sed dapibus orci. Maecenas consequat risus sed vestibulum luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed et est sed leo eleifend feugiat sed eu ipsum. Morbi a justo convallis, vestibulum ipsum a, euismod quam. 
</p>
<h2>BUILD YOUR OWN FOOD DATABASE</h2>
<p>
    Proin dapibus nulla nec neque vestibulum congue. Nam quis metus ut nisl posuere gravida. Aliquam mattis accumsan augue, vel sagittis diam varius rutrum. Donec cursus odio nisl, a bibendum elit cursus at. Aenean a consectetur lacus. Maecenas ultrices urna tellus, gravida faucibus eros dignissim non. In hac habitasse platea dictumst. Quisque sem nibh, posuere at nisi pretium, sodales bibendum arcu. Praesent auctor quam libero, eget venenatis metus vestibulum nec. Quisque sed dapibus orci. Maecenas consequat risus sed vestibulum luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed et est sed leo eleifend feugiat sed eu ipsum. Morbi a justo convallis, vestibulum ipsum a, euismod quam. 
</p>

<h2>PREDICT YOUR WEIGHT LOSS</h2>
<p>
    Proin dapibus nulla nec neque vestibulum congue. Nam quis metus ut nisl posuere gravida. Aliquam mattis accumsan augue, vel sagittis diam varius rutrum. Donec cursus odio nisl, a bibendum elit cursus at. Aenean a consectetur lacus. Maecenas ultrices urna tellus, gravida faucibus eros dignissim non. In hac habitasse platea dictumst. Quisque sem nibh, posuere at nisi pretium, sodales bibendum arcu. Praesent auctor quam libero, eget venenatis metus vestibulum nec. Quisque sed dapibus orci. Maecenas consequat risus sed vestibulum luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed et est sed leo eleifend feugiat sed eu ipsum. Morbi a justo convallis, vestibulum ipsum a, euismod quam. 
</p>