<h1 class="col-span-2 text-2xl font-bold text-gray-600 bg-gray-200 text-center pt-3 pb-3">Daily Overview</h1>

<div class="grid grid-cols-[1fr_1fr] m-auto bg-gray-100">
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Week</div>
        <div class="m-auto text-center">{{ daily.week }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Day</div>
        <div class="m-auto text-center">{{ daily.day }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Date</div>
        <div class="m-auto text-center">{{ daily.date }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Activity Level</div>
        {% include "daily/activity_level.html" %}
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Acutal Weight</div>
        {% include "daily/weight_column.html"%}
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Estimated Weight</div>
        <div class="m-auto text-center">{{ daily.est_weight }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2" >BMI</div>
        <div class="m-auto text-center" >{{ daily.bmi }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Resting Calories</div>
        <div class="m-auto text-center">{{ daily.calories_burned|int }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Eaten Calories</div>
        <div class="m-auto text-center">{{ "{:,}".format(daily.eaten_calories|int) }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Eaten Fats</div>
        <div class="m-auto text-center">{{ "{:,}".format(daily.eaten_fats|int) }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Eaten Carbs</div>
        <div class="m-auto text-center">{{ "{:,}".format(daily.eaten_carbs|int) }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Eaten Protein</div>
        <div class="m-auto text-center">{{ "{:,}".format(daily.eaten_protein|int) }}</div>        
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Calorie Goal</div>
        <div class="m-auto text-center">{{ "{:,}".format(daily.calorie_goal|int) }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Calories Left</div>
        <div class="m-auto text-center">{{ "{:,}".format(daily.calories_left|int)  }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2" >Lbs Lost</div>
        <div class="m-auto text-center" >{{ daily.total_lbs_lost }}</div>
    </div>
    
    <div class="contents">
        <div class="font-semibold text-center pt-2 pb-2">Calorie Surplus</div>
        <div class="m-auto text-center">{{ "{:,}".format(daily.calorie_surplus|int) }}</div>
    </div>
</div>