<thead>
    <tr>
        <th hidden id="week" scope="col">Week</th>
        <th id="day" scope="col">Day</th>
        <th id="date" scope="col">Date</th>
        <th id="daily_activity_level" scope="col">Activity Level</th>
        <th id="actual_weight" scope="col">Acutal Weight</th>
        <th id="est_weight" scope="col">Estimated Weight</th>
        <th hidden id="bmi" scope="c">BMI</th>
        <th hidden id="resting_rate" scope="col">Resting Calories</th>
        <th id="eaten_calories" scope="col">Eaten Calories</th>
        <th id="eaten_fats" scope="col">Eaten Fats</th>
        <th id="eaten_carbs" scope="col">Eaten Carbs</th>
        <th id="eaten_protein" scope="col">Eaten Protein</th>    
        <th id="calorie_goal" scope="col">Calorie Goal</th>
        <th id="calories_left" scope="col">Calories Left</th>
        <th hidden id="total_lbs_lost" scope="col">Lbs Lost</th>
        <th id="calorie_surplus" scope="col">Calorie Surplus</th>
    </tr>
</thead>