
<div class="contents font-semibold ">
    <div class="bg-gray-300 col-span-5 ">
        <div>Calories</div>
    
    </div>
    <!-- <div clas="bg-gray-300 py-2 rounded-bl" id="day" scope="col">Day</div> -->
    <div class="bg-gray-300 py-2 rounded-bl" id="date" scope="col">Date</div>
    <!-- <div clas="bg-gray-300 py-2" id="daily_activity_level" scope="col">Activity Level</div> -->
    <!-- <div clas="bg-gray-300 py-2" id="actual_weight" scope="col">Acutal Weight</div> -->
    <!-- <div clas="bg-gray-300 py-2" id="est_weight" scope="col">Estimated Weight</div> -->
    <div class="bg-gray-300 py-2" id="eaten_calories" scope="col">Eaten</div>
    <div class="bg-gray-300 py-2" id="calorie_goal" scope="col">Goal</div>
    <div class="bg-gray-300 py-2" id="calories_left" scope="col">Left</div>
    <div class="bg-gray-300 py-2 rounded-br"></div>
</div>