<thead>
    <tr>
        <th id="day" scope="col">Day</th>
        <th id="date" scope="col">Date</th>
        <th id="daily_activity_level" scope="col">Activity Level</th>
        <th id="actual_weight" scope="col">Acutal Weight</th>
        <th id="est_weight" scope="col">Estimated Weight</th>
        <th id="eaten_calories" scope="col">Eaten Calories</th>
        <th id="calorie_goal" scope="col">Calorie Goal</th>
        <th id="calories_left" scope="col">Calories Left</th>
    </tr>
</thead>