{% for daily in dailies %}
{% if loop.first %}
<input hidden id="max_{{daily.date}}" type="date" _="on load make a Date then set my.value to it.toLocaleDateString('sv')">
<input hidden id="hidden_{{daily.date}}" type="date" value="{{daily.date}}">
<tr id="{{ daily.date }}" _="on load if #hidden_{{daily.date}}.value > #max_{{daily.date}}.value hide me">
{% else %}
<tr id="{{ daily.date }}" {% if loop.previtem.week != daily.week %}style="border-top-style: dashed;  border-color: #f4511e;" {% endif %}>
{% endif %}
    <td headers="day">{{ daily.day }}</td>
    <td headers="date">{{ daily.date }}</td>
    {% include "daily/activity_level.html" %}

    {% include "daily/weight_column.html"%}

    <td headers="est_weight">{{ daily.est_weight }}</td>
    <td headers="eaten_calories">{{ "{:,}".format(daily.eaten_calories|int) }}</td>
    <td headers="calorie_goal">{{ "{:,}".format(daily.calorie_goal|int) }}</td>
    <td headers="calories_left">{{ "{:,}".format(daily.calories_left|int)  }}</td>
    <td 
        hx-get="/daily/{{ daily.date }}" hx-target="#expanded_{{daily.day}}" 
        _="on click hide me then show next <td/> then show #table_{{daily.day}}"
    >A</td>
    <td style="display: none;" _="on click hide me then show previous <td/> then hide #table_{{daily.day}}">∀</td>
</tr>
<tr id="table_{{daily.day}}" style="display: none;">
    <td id="expanded_{{daily.day}}" colspan="8"></td>
</tr>
{% endfor %}
