<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Caloria</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/icons/favicons/site.webmanifest">
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <script>
            function tz_offset() {
                return new Date().getTimezoneOffset();
            }
        </script>

        <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>

    </head>
    <body id="container" class="container">
        {% include "nav.html"%}
        
        <div id="content">
        {% if verification %}
            <form hidden id="verify" hx-trigger="load" hx-ext='json-enc' hx-post="/api/v1/auth/verify" hx-target="this" >
                <input name="token" value="{{token}}">
            </form>
            <div hx-get="/" hx-trigger="htmx:afterRequest from:#verify"></div>
        {% endif %}
        {% block content%}
        {% endblock%}
        </div>
    </body>
    <footer>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
        <link rel="stylesheet" href="/static/css/styles.css" >
    </footer>
</html>