<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Weight Loss App</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" >

    </head>
    <body id="container" class="container">
        {% include "nav.html"%}
        <div id="content">
        {% block content%}
        {% endblock%}
        </div>



        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>

    </body>
</html>