<h1> Add Serving</h1>        
<form hx-post="/servings" hx-target="#servings" hx-ext='json-enc' >
    food_id - <input type="number" min="1" step="1" name="food_id"></input> 
    description - <input type="str" name="description"></input> 
    calories - <input type="number" min="0" step="1" name="calories"></input> 
    fats - <input type="number" min="0" step="1" name="fats"></input> 
    carbs - <input type="number" min="0" step="1" name="carbs"></input> 
    protein - <input type="number" min="0" step="1" name="protein"></input> 
    <button type="submit">Submit</button>
</form>

<div id="servings"></div>
