{% extends "base.html" %}

{% block content %}
    <h1> Get User by id</h1>
    <div>
        <input type="number" name="user_id" min="1" hx-trigger="change load delay:500ms" hx-get="/user" hx-push-url="true" hx-target="#user_data">
    </div>
    <div id="user_data"></div>

    <h1> Add Food</h1>        
    <form hx-post="/food" hx-target="#food" hx-ext='json-enc' >
        BRAND - <input type="text" name="brand"></input>
        NAME - <input type="text" name="name"></input>
        <button type="submit">Submit</button>
    </form>
    
    <div id="food"></div>

    <h1> Add User</h1>
    <form hx-post="/user" hx-target="#user" hx-ext='json-enc' >
        start_date - <input type="date" name="start_date">
        email - <input type="email" name="email">
        start_weight - <input type="number" step=".1" name="start_weight">
        end_weight - <input type="number" step=".1" name="end_weight">
        sex - <input type="text" name="sex">
        birthdate - <input type="date" name="birthdate">
        height - <input type="number" name="height">
        lbs_to_lost - <input type="number" min="0" max="2" step=".1" name="lbs_to_lost">
        activity_level - <input type="number" min="1" max="2" step=".1" name="activity_level">
        <button type="submit">Submit</button>
    </form>
    
    <div id="user" value="5"></div>

{% endblock %}