{% macro food_log_row(logs) %}

{% for log in logs %}
<tr name="food_log_id" id="food_log_{{log.id}}" hx-push-url="true" hx-get="/food_log/{{log.id}}" hx-target="#food_log_table">
    <td headers="log_date">{{log.date}}</td>
    <td headers="log_food">{{log.serving_size.food.brand}}, {{log.serving_size.food.name}}</td>
    <td headers="log_serving_size_description">{{log.serving_size.description}}</td>
    <td headers="log_serving_amount">{{log.serving_amount}}</td>
    <td headers="log_calories">{{log.serving_amount * log.serving_size.calories}}</td>
    <td headers="log_edit" hx-disinherit="*" hx-get='/food_log/edit/{{log.id}}' hx-push-url="false" hx-trigger='click consume'hx-target="#food_log_{{log.id}}" role="button" hx-swap="outerHTML">Edit</td>
</tr>
{% endfor %}

{% endmacro %}