<nav class="nav nav-tabs" hx-push-url="true" hx-target="#content" _="on htmx:afterOnLoad take .active for event.target" >
    <a class="nav-item nav-link active" hx-get="/">Home</a>
    <a class="nav-item nav-link" hx-get="/food">Foods</a>
    <a class="nav-item nav-link" hx-get="/food_log">Food Log</a>
    <a class="nav-item nav-link" hx-get="/daily/all">Daily</a>
    <a class="nav-item nav-link" hx-get="/prediction/never_faulter">Prediction</a>
    <a class="nav-item nav-link" hx-get="/register">Prediction</a>
</nav>