{% if not hx_request %}{% extends "index.html" %}{% endif %}

{% block content %}
<table name="profile">
    <thead>
        <tr>
            <th id="id">ID</th>
            <th id="start_date">start_date</th>
            <th id="email">email</th>
            <th id="start_weight">start_weight</th>
            <th id="goal_weight">goal_weight</th>
            <th id="sex">sex</th>
            <th id="birthdate">birthdate</th>
            <th id="height">height</th>
            <th id="lbs_per_week">lbs_per_week</th>
            <th id="activity_level">activity_level</th>
        </tr>
    </thead>
    <tbody>
        <tr name="profile_id" hx-push-url="true" hx-trigger="{{trigger}}" hx-get="/profile?profile_id={{profile.id}}" hx-target="#content">
            <td headers="id">{{profile.id}}</td>
            <td headers="start_date">{{profile.start_date}}</td>
            <td headers="email">{{profile.email}}</td>
            <td headers="start_weight">{{profile.start_weight}}</td>
            <td headers="goal_weight">{{profile.goal_weight}}</td>
            <td headers="sex">{{profile.sex}}</td>
            <td headers="birthdate">{{profile.birthdate}}</td>
            <td headers="height">{{profile.height}}</td>
            <td headers="lbs_per_week">{{profile.lbs_per_week}}</td>
            <td headers="activity_level">{{profile.activity_level}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}


