{% if not hx_request %}{% extends "index.html" %}{% endif %}

{% block content %}
<form hx-post="/api/v1/auth/register" hx-target='#register-swap' hx-ext='json-enc'>
    <div class='form-group' hx-target="this" hx-swap="outerHTML">
        <label for="email">Email:</label>
        <input class='form-control' type="text" id="email" name="email" hx-get="/validate/email">
    </div>
    <div class='form-group' hx-target="this" hx-swap="outerHTML">
        <label for="password">Password:</label>
        <input class='form-control' type="password" id="password" name="password" hx-include='#email' hx-get="/validate/password">
    </div>
    <div class='form-group' hx-target="this" hx-swap="outerHTML">
        <label for="password">Confirm Password:</label>
        <input class='form-control' type="password" id="password_confirm" name="password_confirm" hx-include="#password" hx-get="/validate/password_confirm">
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Register">
    </div>
</form>

<div hidden id="register-swap" _="on htmx:beforeSwap set #username.value to #email.value then set #login_password.value to #password.value "></div>
<form hidden hx-post='/api/v1/auth/cookie/login' id="credentials" hx-trigger="htmx:beforeSwap from:#register-swap" hx-target='#register'>
    <input name="username" id="username" value=''>
    <input name="password" id="login_password" value=''>
</form>
<div hidden hx-get='/create_profile' hx-push-url="true" hx-trigger="htmx:afterSwap" hx-target='#content' id="register"></div>
{% endblock %}